body {

  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding-top: 190px;
  @include media-breakpoint-up(lg) {
    padding-top: 156px;
  }
}

html, body {
  width: 100%;
  overflow-x: hidden;
}

footer {
  margin-top: auto;
}