.brands-grid {
  display: grid;
  gap: $grid-gutter-width;
  grid-template-columns: repeat(2, 1fr);
  @include media-breakpoint-up(md) {
    grid-template-columns: repeat(3, 1fr);
  }
  @include media-breakpoint-up(xl) {
    grid-template-columns: repeat(6, 1fr);
  }
}

.brand {
  aspect-ratio: 16/9;
  background-color: $gray-100;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

}
