footer {

  ul {
    margin-bottom: 0;
  }

  small {
    font-size: 0.85rem;
  }

  .footer-content {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    @include media-breakpoint-up(md) {
      gap: $grid-gutter-width * 2;
      grid-template-columns: auto max-content;
    }
  }

  .upper {
    padding: 3rem 0;
    background-color: $primary;
    background: linear-gradient(90deg, #B33FFF 0%, #840AEF 100%);
    color: $white;

    a {
      color: $white;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }

  .lower {
    padding: 3rem 0;
    background-color: $black;
    color: $white;
    p, li {
      font-size: 0.85rem;
    }
    a {
      color: $white;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }


}