.icon-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 5px 0 0 5px;
  padding: 0;
  img {
    width: 40px;
    height: 40px;
  }
  p {
    margin: 0;
    font-size: $font-size-sm;
    padding-left: 0.5rem;
  }
}

.icons-swiper {
  position: relative;
  overflow: hidden;
}

.swiper-button-next, .swiper-button-prev {
  &.small {
    &:after {
      font-size: 20px;
    }
  }
}

.swiper-button-next {
  &.small {
    right: -9px
  }
}
.swiper-button-prev {
  &.small {
    left: -9px
  }
}