.links-grid {
  display: grid;
  gap: $grid-gutter-width;
  grid-template-columns: repeat(2, 1fr);
  @include media-breakpoint-up(lg) {
    grid-template-columns: repeat(4, 1fr);
  }
}

.links-grid-item {
  @extend %trispace;
  text-decoration: none;
  font-size: $h5-font-size;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: $grid-gutter-width * .5;

  .iconify {
    font-size: 4rem;
    margin-bottom: 1rem;
    transform: scale(1);
    transition: 100ms ease-in all;
  }

  &:hover, &:active {
    color: $black;
    .iconify {
      transform: scale(1.2);
    }
  }
}