header {
  position: fixed;
  z-index: 300;
  top: 0;
  left: 0;
  width: 100vw;
  transition: all 0.3s ease;

  .header-upper {
    background-color: $black;
    color: $gray-100;
    padding: 1rem 0;
    .content {
      display: flex;
      flex-direction: column;

      .input-group {
        .btn {
          padding: 0;
          width: 38px;
          .iconify {
            font-size: 24px;
          }
        }
      }

      .navbar-brand {
        padding: 1rem 0;
        img {
          width: auto;
          height: 30px;
        }
      }

      @include media-breakpoint-up(lg) {
        flex-direction: row;
        align-items: flex-end;
        justify-content: space-between;
        .input-group {
          margin-bottom: 1rem;
          width: 240px;
        }
        .navbar-brand {
          padding: 1rem 0;
          img {
            width: auto;
            height: 50px;
          }
        }
      }
    }
  }

  .header-lower {
    background-color: $primary;
    @include media-breakpoint-up(xl) {

      .navbar {
        padding: 0;
      }

      .nav-link {
        padding-top: 1rem;
        padding-bottom: 1rem;
        color: $white;
        font-size: $font-size-base;
        &.active {
          color: $white;
          background-color: $black;
        }
        &:hover {
          background-color: $black;
        }
      }
    }
  }
  &.hide {
    top: -105px;
    @include media-breakpoint-up(lg) {
      top: -114px;
    }
  }
}


.navbar-toggler {
  aspect-ratio: 1;
  width: clamp(40px, 40px, 40px);
  height: clamp(40px, 40px, 40px);
  border: none;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  font-size: 2rem;
  color: $white !important;
  box-shadow: none;
  &:hover, &:focus {
    outline: none;
    border: none;
    color: $black;
    box-shadow: none;
  }
}

.nav-link {
  font-family: "Trispace", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
  color: $primary;
}